---
import LandingLayout from "../layouts/LandingLayout.astro";
---

<LandingLayout title="404 Not Found" description="Sorry, we couldn't find the page you're looking for.">
  <div id="fog" class="flex-1 pt-16 pb-12 flex flex-col bg-gray-800">
    <div class="grow flex flex-col justify-center max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-16">
        <div class="text-center">
          <p class="text-sm font-semibold text-indigo-400 uppercase tracking-wide">404 error</p>
          <h1 class="mt-2 text-4xl font-extrabold text-gray-100 tracking-tight sm:text-5xl">Lost in the fog</h1>
          <p class="mt-2 text-base text-gray-300">Sorry, we couldn't find the page you're looking for.</p>
          <div class="mt-6">
            <a href="/" class="text-base font-medium text-indigo-400 hover:text-indigo-200">Go back home<span aria-hidden="true"> &rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</LandingLayout>

<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.fog.min.js"></script>
<script is:inline>
VANTA.FOG({
  el: "#fog",
  THREE: THREE,
  mouseControls: false,
  touchControls: false,
  gyroControls: false,
  minHeight: 200.0,
  minWidth: 200.0,
  baseColor: 0x1f2937,
  lowlightColor: 0x111827,
  midtoneColor: 0x334155,
  highlightColor: 0x475569,
  speed: 1.8,
});
</script>