---
import LandingLayout from "../layouts/LandingLayout.astro";
---

<LandingLayout title="Thanks for joining us!" description="You've signed up for our newsletter. We'll keep you posted!">
  <div class="bg-white h-full pt-12">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2
          class="
            mt-1
            text-4xl
            font-extrabold
            text-slate-900
            sm:text-5xl sm:tracking-tight
            lg:text-6xl
          "
        >
          Thanks for joining us!
        </h2>
        <p class="max-w-xl mt-5 mx-auto text-xl text-slate-500">
          You've signed up for our newsletter. We'll keep you posted.
        </p>
      </div>
    </div>
  </div>
</LandingLayout>