---
import LandingLayout from "../layouts/LandingLayout.astro"
import PageHeader from "../components/molecules/PageHeader.astro"
import PageBlock from "../components/molecules/PageBlock.astro"

const title="Privacy Protection"
const description = "We love email, but we don't love the creeps who want to snoop on your email reading habits. Shroud.email uses a powerful cocktail of technologies to protect your email privacy."
---
<LandingLayout title={title} description="How Shroud.email protects your email privacy.">
  <PageHeader title={title} description={description} />

  <PageBlock heading="Email, without the surveillance.">
    <dl class="mt-10 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-8 sm:gap-y-10 lg:mt-0 lg:col-span-2">
      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/mail -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Anonymous addresses</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">By creating a unique email address for every website, you don't need to worry about revealing your identity.</dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/eye-off -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Block trackers</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">Emails often contain tracking pixels that reveal when and where you opened them. We remove these pixels to let you read your emails without someone looking over your shoulder.</dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/photographðŸ•µï¸ -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Image proxying</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">We proxy all images in your emails through our servers, so even if a tracking pixel were to sneak through our defenses, the sender won't know who or where you were when you read the email.</dd>
      </div>

      <div>
        <dt>
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
            <!-- Heroicon name: outline/trash -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </div>
          <p class="mt-5 text-lg leading-6 font-medium text-gray-900">Block senders</p>
        </dt>
        <dd class="mt-2 text-base text-gray-500">If you start getting spam emails sent via a Shroud.email alias, you can easily block specific senders -- or destroy the alias entirely ðŸ”¥</dd>
      </div>
    </dl>
  </PageBlock>
</LandingLayout>
