---
interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
---
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1
        class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl"
      >
        { title }
      </h1>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
        { description }
        <slot />
      </p>
    </div>
  </div>
</div>
