---
import BaseLayout from "./BaseLayout.astro"
import "../styles/tailwind.css"
import Navbar from "../components/organisms/navbar.vue";
import Footer from "../components/organisms/Footer.astro"

export interface Props {
  title?: string;
  description?: string;
  transparentNavbar?: boolean;
}
let { title, description, transparentNavbar = false } = Astro.props
---

<BaseLayout {title} {description}>
  <div class="min-h-full flex flex-col">
    <Navbar client:only="vue" transparentAtTop={transparentNavbar} />

    <main class="flex-grow flex flex-col">
      <slot />
    </main>

    <Footer />
  </div>
</BaseLayout>
