---
import BaseLayout from "./BaseLayout.astro"
import "../styles/tailwind.css"
import Navbar from "../components/organisms/navbar.vue";
import Footer from "../components/organisms/footer.vue"

export interface Props {
  title?: string;
  description?: string;
}
let { title, description, transparentNavbar = false } = Astro.props
---

<BaseLayout {title} {description}>
  <div id="swup" class="min-h-full flex flex-col">
    <Navbar client:load transparentAtTop={transparentNavbar} />

    <main class="flex-grow flex flex-col">
      <slot />
    </main>

    <Footer />
  </div>
  <script is:inline>
    import Swup from 'swup'
    import SwupScriptsPlugin from '@swup/scripts-plugin'
    import SwupA11yPlugin from '@swup/a11y-plugin'
    import SwupPreloadPlugin from '@swup/preload-plugin'

    const swup = new Swup({
      plugins: [
        new SwupScriptsPlugin(),
        new SwupA11yPlugin(),
        new SwupPreloadPlugin(),
      ],
    })
  </script>
</BaseLayout>
